
.inline-divider {
  display: inline-block;
  background-color: @border-level-2;
  width: 1px;
  .align-self(stretch);
}

.block-divider {
  background-color: @border-level-2;
  width: 100%;
  height: 1px;
}