
// image with size of 24 * 24
.img-24 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

// image with size of 36 * 36
.img-36 {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
}

// image with size of 48 * 48
.img-48 {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

// image with size of 60 * 60
.img-60 {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}