
input[type=text], input[type=email], input[type=password], textarea {
  font-size: 14px;
  color: #383838;

  border-radius: 3px;
  border: 1px solid #d9d9d9;

  // learn from Bootstrap
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}

// input
input[type=text], input[type=email], input[type=password] {
  line-height: 38px;
  padding: 0 10px;
}

input[type=email].is-block,
input[type=text].is-block,
input[type=password].is-block {
  display: block;
  width: 100%;
}

// textarea
textarea {
  padding: 10px;
}
textarea.is-block {
  display: block;
  width: 100%;
}

// Disabled and read-only inputs
input[type=text][disabled],
input[type=email][disabled],
input[type=password][disabled],
textarea[disabled] {
  background-color: #eee;
  cursor: not-allowed;

  // from Bootstrap
  opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
}


// focus
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
  border-color: hsl(0, 0%, 65%);
}